@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "./reset.css";
@import "./global.css";
@import "./date-time.css";
@import "./todo.css";

html,
body {
  height: 100%;
}
html {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 960px;
  height: 720px;
  border: 1px solid black;
}
