@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "./reset.css";
@import "./global.css";
@import "./date-time.css";
@import "./todo.css";

html,
body {
  height: 100%;
}
html {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  padding: 50px;
  width: 1080px;
  height: 850px;
  border-radius: 15px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 7%),
    0 4px 8px rgb(0 0 0 / 7%), 0 8px 16px rgb(0 0 0 / 7%),
    0 16px 32px rgb(0 0 0 / 7%), 0 32px 64px rgb(0 0 0 / 7%);
}

@media (max-width: 425px) {
  body {
    padding: 60px 20px;
  }
}
