.todos-container {
  overflow-y: auto;
  height: 420px;
}
.todos-container::-webkit-scrollbar {
  width: 10px;
}
.todos-container::-webkit-scrollbar-thumb {
  background-color: var(--green);
  border-radius: 10px;
}
.todos-container::-webkit-scrollbar-track {
  background-color: whitesmoke;
  border-radius: 10px;
}
form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}
.todoForm {
  border: none;
  border-bottom: 1px solid gray;
  margin: 8px 10px;
  width: 70%;
}
.todoBtn {
  background-color: var(--green-trans);
  border-radius: 18px;
  color: white;
  padding: 8px 30px;
  margin: 15px 0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.todoBtn:hover {
  background-color: var(--green);
}
.todo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 12px;
}
.todo-container span {
  margin-right: 10px;
  color: gray;
  transition: color 0.3s;
}
.todo-container span:hover {
  color: var(--green);
  cursor: pointer;
}
.todo {
  display: inline;
  position: absolute;
}
.counter {
  color: var(--green);
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.line {
  text-decoration: line-through;
}
.warning-container {
  display: flex;
  justify-content: center;
}
.warning {
  font-size: 3rem;
  color: gray;
  opacity: 0.3;
  margin-top: 120px;
}
.editInput {
  border: none;
  border-bottom: 1px solid gray;
}

@media (max-width: 425px) {
  .counter {
    font-size: 32px;
  }
  .todo-container {
    font-size: 18px;
    display: block;
  }
  .todos-container {
    height: 450px;
  }
}
